*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(5,5,59,1) 42%, rgba(0,212,255,1) 100%);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 30px 1px #dee048;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: yellow;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    font-weight: bold;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color: white;
    border: 2px inset green;
}

.btn.wrong {
    background-color: gray;
    color: black;
    border: 2px inset red;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hide {
    display: none;
}